{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "@flybywiresim/eslint-config"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "one-var": "off",
    "import/no-unresolved": "off",
    "no-useless-constructor": "off"
  }
}
